body {
    margin: 0 auto;
    width: 100%;
    /* margin: 0; */
    padding: 0;
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    background-color: #0a192f;
}

/* Header */
.navbar {
    width: 100%;
    margin: 0;
    padding: 5px 0;
    background-color: #0a192f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Align items vertically centered */
    z-index: 1000;
    top: 0px;
    ;
    transition: top 0.3s;
    position: fixed;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    height: auto;
    width: 90px;
    padding-left: 25px;
    padding-top: 28px;
    margin-bottom: 10px;
}

.title-site {
    font-size: 30px;
    text-decoration: none;
    padding-left: 48px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    cursor: pointer;
}

.navbar-right {
    padding: 5px 24px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 15px 20px;
    padding-right: 50px;
}

ul li {
    position: relative;
    /* For positioning dropdowns if needed */
}

ul li a {
    text-decoration: none;
    color: #ccd6f6;
    padding: 18px;
    font-size: 15px;
}

ul li a:hover {
    color: #3c978d;
}

.chiffre {
    color: #3c978d;
    font-weight: bold;
}

.button-1 {
    cursor: pointer;
    padding: 10px 15px;
    /* Increased padding for better touch targets */
    color: #3c978d;
    background-color: #0a192f;
    border: 2px solid #55d4c6;
    border-radius: 5px;
    text-align: center;
    /* Center text */
    text-decoration: none;
    /* Ensure no underline */
}

.button-2 {
    margin-left: 0%;
    cursor: pointer;
    padding: 10px 60px;
    color: #3c978d;
    background-color: #0a192f;
    border: 2px solid #55d4c6;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}


.button-1:hover {
    color: #5cebda;
}

.close_icon_mobile {
    display: none;
}

/* Mobile styles */
@media (max-width: 768px) {
    .navbar-right {
        display: none;
        /* Hide the default menu */
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
        padding: 15px;
        color: #ccd6f6;
        font-size: 20px;
    }

    .navbar-menu {
        display: none;
        flex-direction: row;
        position: absolute;
        right: 0;
        background-color: #0a192f;
        width: 200px;
        text-align: center;
        padding: 0;
    }

    .navbar-menu ul {
        padding: 15px;
        margin: 6px;
        align-items: flex-start;
        flex-direction: column;
    }

    .navbar-menu ul li {
        margin-bottom: 10px;
    }

    .navbar-menu ul li a {
        display: block;
        padding: 18px;
        align-items: end;
    }

    .navbar-menu.show {
        top: 1px;
        display: flex;
        height: 100vh;

    }

    .navbar-toggle {
        display: block;
    }

    .close_icon_mobile {
        font-weight: bold;
        color: rgb(41, 214, 50);
        margin-bottom: 70px;

    }
}

/* Toggle button for mobile */
.navbar-toggle {
    display: none;
    /* Hide by default */
}

/* Show the toggle button on small screens */
@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }
}

.enterprise {
    color: #3c978d;
    list-style: none;
    text-decoration: none;
}

.enterprise:hover {
    color: #5cebda;
    list-style: none;
    text-decoration: none;
}

/* Landing Page */
section {
    margin-top: 100px;
    /* width: 100%; */
}

.row {
    background-color: #0a192f;
    color: #ccd6f6;
    padding: 0;
    margin: -1px;
    display: flex;
    flex-direction: row;
}

.col-md-2 {
    flex-grow: 1;
    height: 100vh;
    padding: 0px;
    width: 200px;
    margin-top: auto;
}

.col-md-8 {
    margin-top: 50px;
    margin-left: 30px;
    flex-grow: 8;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;
    padding: 0px;
}


@media (min-width:769px) and (max-width:1200px) {
    .heading {
        margin: 0px 0px 0px 4px;
        font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
        ;
        color: #3c978d;
        font-size: 16px;
    }

    .big-heading {
        font-size: 60px;
        margin-bottom: auto;
    }

    .big2-heading {
        font-size: 80px;
        margin-top: auto;
        margin-bottom: auto;
        color: #b1b4bf;
    }

    .desc {
        width: 600px;
        margin-bottom: 43px;
        font-size: 20px;
    }
}


@media (min-width:1201px) {
    .heading {
        margin: 0px 0px 0px 4px;
        font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
        ;
        color: #3c978d;
        font-size: 16px;
    }

    .big-heading {
        margin-top: unset;
        font-size: 50px;
        margin-bottom: auto;
    }

    .big2-heading {
        font-size: 80px;
        margin-top: auto;
        margin-bottom: auto;
        color: #b1b4bf;
    }

    .desc {
        width: 70%;
        margin-bottom: 43px;
        font-size: 20px;
    }
}

/* Mobile view */

@media (max-width:386px) {

    col-md-8 {
        margin-top: 30px;
        margin-left: 20px;
        align-items: center;
    }

    .col-md-2 {
        display: none;
    }

    .heading {
        margin: 0px 0px 10px 1px;
        font-size: 12px;
        color: #3c978d;
    }

    .big-heading {
        font-size: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .big2-heading {
        font-size: 20px;
        margin-top: auto;
        margin-bottom: auto;
        color: #b1b4bf;
    }

    .desc {
        width: 80%;
        margin-bottom: 40px;
        font-size: 13px;
    }
}


@media (min-width:386px) and (max-width:768px) {

    .heading {
        margin: 0px 0px 10px 1px;
        font-size: 18px;
        color: #3c978d;
    }

    .big-heading {
        font-size: 30px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .big2-heading {
        font-size: 30px;
        margin-top: auto;
        margin-bottom: auto;
        color: #b1b4bf;
    }

    .desc {
        width: 70%;
        font-size: 16px;
        margin-bottom: 60px;
    }
}

/* End mobile view */

/* left site */
/* Container for the social media bar */

.social-media-bar {
    margin-left: 80px;
    position: fixed;
    height: 200px;
    bottom: 0;
    width: 20px;
    margin-left: auto;
    align-items: center;
    background-color: #ccd6f6;
}

/* Styles for social media icons */
.social-media {
    position: fixed;
    bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
}

/* Style for each icon button */
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6px;
    height: 15px;
    margin-bottom: 12px;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.3s;
}

.social-icon:hover {
    background-color: #3c978d;
    /* Background color on hover */
    transform: scale(1.1);
    /* Slight zoom effect on hover */
}

/* Container for the text */
.right-side {
    display: flex;
    /* flex-direction: column; */
    justify-content: right;
    align-items: flex-end;
    height: 100vh;
    position: fixed;
    bottom: 41px;
    margin-left: 140px;
}

/* Styling for the social media link */
.social-media-link {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    /* Take full height of parent */
    transform: rotate(-90deg);
    /* Rotate text to vertical */
    transform-origin: left bottom;
    /* Adjust rotation point */
    white-space: nowrap;
    /* Prevent text from wrapping */
    margin-left: -50px;
    /* Adjust position after rotation (optional) */
}

.bar-vertical {
    width: 2px;
    height: 200px;
    background-color: #ccd6f6;
}

.social-media-link a {
    text-decoration: none;
    /* Remove underline */
    color: #ccd6f6;
    /* Text color */
    font-size: 12px;
    /* Font size */
}


.vertical-bar {
    width: 20px;
    /* Adjust the width as needed */
    height: 200px;
    /* Adjust the height as needed */
    background-color: #3498db;
    /* Adjust the color as needed */
}

/* End Landing Page */

/* About  */
#about {
    margin-bottom: 20px;
}

.container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.about-me {
    font-size: 30px;
    font-family: SF Mono', ' Fira Code', ' Fira Mono', ' Roboto Mono', monospace;

}

.about-container {
    display: flex;
    gap: 26px;
    padding-top: 40px;
}

.left-container {
    width: 600px;
}

.about-desk {
    /* margin: 0px 0px 15px; */
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
}

.about-right {
    flex-grow: 4;
}

.horizontal-bar {
    width: 300px;
    height: 1px;
    background-color: #737479;
    /* You can change the color as needed */
    margin: 25px 0;
    /* Optional: Adds some space above and below the bar */
}

.about-image {
    border: 5px solid #000307;
    opacity: 0.9;
    width: 300px;
    height: 350px;
    margin-left: 50px;
    margin-top: 60px;
    transition: width 3s;

}


.about-image:hover {
    width: 350px;
    opacity: 0.2;
}

.tools {
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
}


@media (min-width:768px) {
    section {
        margin-left: 130px;
        margin-top: 100px;
        margin-right: 3%;
    }
}

@media (max-width:1075px) {

    .container {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .about-me {
        font-size: 25px;
        font-family: SF Mono', ' Fira Code', ' Fira Mono', ' Roboto Mono', monospace;

    }

    .about-container {
        display: flex;
        gap: 20px;
    }

    .left-container {
        width: 500px;
    }

    .about-desk {
        /* margin: 0px 0px 15px; */
        font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    }

    .about-right {
        flex-grow: 4;
    }

    .horizontal-bar {
        width: 250px;
        height: 1px;
        background-color: #737479;
        /* You can change the color as needed */
        margin: 25px 0;
        /* Optional: Adds some space above and below the bar */
    }

    .about-image {
        border: 5px solid #000307;
        opacity: 0.9;
        width: 200px;
        height: auto;
        margin-left: 40px;
        margin-top: 50px;
        transition: width 3s;

    }


    .about-image:hover {
        width: 350px;
        opacity: 0.2;
    }

    .tools {
        width: 30px;
        height: 30px;
        padding: 10px;
        cursor: pointer;
    }
}

@media (min-width:768px) and (max-width:1200px) {
    .col-md-8 {
        margin-top: 60px;
        margin-left: 20px;
    }

    .social-media {
        margin-left: 17px;
    }

    #Hero {
        padding-left: 60px;
    }

    .big-heading {
        font-size: 60px;
        margin-top: auto;
    }

    .big2-heading {
        font-size: 60px;
    }

    #about {
        padding-left: 30px;
    }

    .about-desk {
        font-size: medium;
    }
}


@media (max-width:768px) {
    .col-md-8 {
        margin-top: 120px;
    }

    .col-md-2 {
        display: none;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .about-me {
        font-size: 18px;
        font-family: SF Mono', ' Fira Code', ' Fira Mono', ' Roboto Mono', monospace;

    }

    .about-container {
        display: flex;
        gap: 20px;
    }

    .left-container {
        width: 100%;
        padding: 0% 3%;
    }

    .about-desk {
        /* margin: 0px 0px 15px; */
        font-size: medium;
        width: 80%;
    }

    .horizontal-bar {
        width: 150px;
        height: 1px;
        background-color: #737479;
        /* You can change the color as needed */
        margin: 15px 0;
        /* Optional: Adds some space above and below the bar */
    }

    .about-image {
        width: 50%;
        height: auto;
        margin-left: 15%;
        margin-top: 0px;
        transition: width 3s;
        border-radius: 50%;
        margin-bottom: 20px;
        margin-bottom: 20px;
    }

    .project-card {
        width: 70%;
    }

    .about-image:hover {
        width: 250px;
        opacity: 0.2;
    }

    .tools {
        width: 30px;
        height: 30px;
        padding: 10px;
        cursor: pointer;
    }

    .experience-section {
        margin-top: 10px;
        width: 100%;
        padding-left: 23px;
        display: flex;
        flex-direction: column;
    }

    .enterprise-list {
        width: 100%;
        margin-left: 0px;
    }

    .project-list {
        display: flex;
    }

    .project-card {
        width: 100%;
        background-color: #112240;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 25px;
        height: auto;
        box-sizing: border-box;
    }

    #experiences {
        margin-top: 0;
        margin-bottom: 0;
        height: fit-content;
    }

    #contact {
        height: auto;
    }

    .container-contact {
        display: flex;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        flex-flow: column-reverse;
    }

    .contact-info {
        margin-left: 20px;
        font-size: 13px;
    }

    .contact-info,
    .contact-form {
        padding: 10px;
    }

    .contact-info h2 {
        margin-bottom: 20px;
    }

    dd {
        font-size: smaller;
    }

    .title-site {
        padding-left: 25px;
    }

}

/* End About */


/* Experience */
.experience-section {
    margin-top: 10px;
    display: flex;
    width: 100%;
    padding-left: 30px;
}

.horizontal-bar-exp {
    margin-top: 15px;
    width: 300px;
    height: 1px;
    background-color: #737479;
}

/* .enterprise-list {
    width: 25%;
    margin-left: 80px;
} */

.enterprise-list ul {
    list-style-type: none;
    padding: 0;
}

.enterprise-list li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.enterprise-list li:hover {
    background-color: #0a244d;
}

.description-display {
    width: 70%;
    padding: 20px;
    border-left: 1px solid #ccc;
}

.description {
    display: none;
}

.description.active {
    display: block;
}

.liste-icon {
    color: #3c978d;
    margin-right: 10px;
}

dd {
    width: 80%;
    height: auto;
}

dd {
    margin-bottom: 10px;
}


/* Contact */
/* #contact {
    padding-top: 20px;
} */

.container-contact {
    display: flex;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.contact-container {
    display: flex;
    gap: 26px;
    margin-top: 40px;
}

.contact-info {
    padding: 10px;
    margin-left: 20px;
    font-size: 13px;
}

.contact-info,
.contact-form {
    padding: 30px;
    flex: 1;
}

.contact-info h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.contact-form h2 {
    margin-top: 0;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.contact-form button {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #3c978d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #3c978d;
}

.contact-icon {
    font-size: 20px;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }
}


/* Works */
.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.project-card {
    margin-top: 30px;
    width: 300px;
    background-color: #112240;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    height: auto;
    box-sizing: border-box;
}

.project-card:hover {
    background-color: #1c3c74;
    margin: -10px 10px 10px -10px;
    transition: margin 2s;
}

.top-card {
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
}

.icon-left {
    color: #3c978d;
    font-size: 20px;
}

.icon-right {
    display: flex;
    gap: 12px;
}

.icon-right i {
    font-size: 15px;
    color: #b1b4bf;
}

.icon-right i:hover {
    color: #3c978d;
}

.project-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.project-card h3:hover {
    color: #3c978d;
}

.desc-work {
    margin-top: 15px;
    font-style: italic;
    color: #b1b4bf;
    margin-bottom: 20px;
    margin-left: 13px;
}


.hidden {
    display: none;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.action-button {
    padding: 10px 20px;
    transition: background-color 0.3s;
}


.action-button.hidden {
    display: none;
}

/* Footer Pages */
.footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer p {
    margin-bottom: 30px;
}

.foot {
    font-size: 12px;
}